package temporary


templ StreamComponent(url string) {
	<div hx-get={ url } hx-trigger="load" hx-swap="outerHTML" hx-indicator="#spinner">
	<div id="spinner">		
		{ children... }
		</div>
	</div>
}

templ Spinner(){
	<md-circular-progress value="0.75"></md-circular-progress>
}
