/**
  * --- FONT & ICONS ---
**/

@font-face {
  font-family: 'Google';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2i0VBuxM.woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Google-Bold';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmhjtjm4DZw.woff2");
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Mono, monospace';
  src: url("https://fonts.gstatic.com/s/robotomono/v23/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0me8iUI0.woff2");
  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/**
  * --- LIGHT & DARK---
**/

.dark {
  --md-sys-color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 200, 187, .08), rgba(196, 200, 187, .08));
  --md-sys-color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 200, 187, .12), rgba(196, 200, 187, .12));
  --md-sys-color-on-surface-2: linear-gradient(0deg, rgba(227, 227, 220, .08), rgba(227, 227, 220, .08)), var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-4: linear-gradient(0deg, rgba(227, 227, 220, .12), rgba(227, 227, 220, .12)), var(--md-sys-color-secondary-container);
  --md-sys-color-white: #fff;
  --md-sys-color-on-background: #e3e3dc;
  --md-sys-color-background: #1a1c18;
  --md-sys-color-on-surface: #e3e3dc;
  --md-sys-color-on-surface-variant: #c4c8bb;
  --md-sys-color-surface-0: #1a1c18;
  --md-sys-color-surface-variant: #43493e;
  --md-sys-color-surface-1: #232820;
  --md-sys-color-surface-2: #272e23;
  --md-sys-color-surface-3: #2b3326;
  --md-sys-color-surface-4: #2c3527;
  --md-sys-color-surface-5: #2f3929;
  --md-sys-color-inverse-surface: #2f312c;
  --md-sys-color-inverse-on-surface: #f1f1ea;

  --md-sys-color-primary: #09090b;
  --md-sys-color-on-primary: #fafafa;

  --md-sys-color-primary-80: #9cd67d;
  --md-sys-color-primary-30: #205107;
  --md-sys-color-primary-20: #0c3900;
  --md-sys-color-neutral-10: #1a1c18;
  --md-sys-color-neutral-90: #e3e3dc;
  --md-sys-color-primary-container: #205107;
  --md-sys-color-on-primary-container: #b8f397;

  --md-sys-color-secondary: #27272a;
  --md-sys-color-on-secondary: #64646a;

  --md-list-item-label-text-color: var(--md-sys-color-on-surface-variant);

  --md-sys-color-secondary-container: #3e4a36;
  --md-sys-color-on-secondary-container: #d9e7cb;

  --md-sys-color-tertiary-container: #1e4e4e;
  --md-sys-color-on-tertiary-container: #bbebeb;
  --md-sys-color-utility-error: #ffb4a9;
  --md-sys-color-utility-on-error: #680003;
  --md-sys-color-utility-outline: #8d9286;

  --md-navigation-bar-active-indicator-color: var(--md-sys-color-primary);

  --md-navigation-bar-active-icon-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-active-label-text-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-active-label-text-weight: 500;
  --md-navigation-bar-active-label-text-size: 12px;

  --md-navigation-bar-icon-color: var(--md-sys-color-on-secondary);
  --md-navigation-bar-label-text-color: var(--md-sys-color-on-secondary);
  --md-navigation-bar-label-text-weight: 500;
  --md-navigation-bar-label-text-size: 12px;

  --md-navigation-bar-active-pressed-icon-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-active-hover-icon-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-active-focus-icon-color: var(--md-sys-color-on-primary);

  --md-navigation-bar-pressed-icon-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-hover-icon-color: var(--md-sys-color-on-primary);
  --md-navigation-bar-focus-icon-color: var(--md-sys-color-on-primary);

  --md-navigation-drawer-modal-container-color: var(--md-sys-color-secondary);


}

:root {
  font-family: 'Roboto Mono, monospace', sans-serif;
  --md-ref-typeface-plain: 'Roboto Mono, monospace', sans-serif;
  --md-sys-color-on-surface-variant-2: linear-gradient(0deg, rgba(67, 73, 62, .08), rgba(67, 73, 62, .08));
  --md-sys-color-on-surface-variant-4: linear-gradient(0deg, rgba(67, 73, 62, .12), rgba(67, 73, 62, .12));
  --md-sys-color-on-surface-2: linear-gradient(0deg, rgba(26, 28, 24, .08), rgba(26, 28, 24, .08)), var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-4: linear-gradient(0deg, rgba(26, 28, 24, .12), rgba(26, 28, 24, .12)), var(--md-sys-color-secondary-container);
  --md-sys-color-white: #fff;
  --md-sys-color-on-background: #1a1c18;
  --md-sys-color-background: #ffffff;

  --md-sys-color-on-surface: #1a1c18;
  --md-sys-color-on-surface-variant: #43493e;

  --md-sys-color-surface: #FAFDFC;
  --md-sys-color-surface-0: #ffffff;
  --md-sys-color-surface-variant: #dfe4d6;

  --md-sys-color-inverse-surface: #2f312c;
  --md-sys-color-inverse-on-surface: #f1f1ea;

  --md-sys-color-primary-80: #9cd67d;
  --md-sys-color-primary-30: #205107;
  --md-sys-color-primary-20: #0c3900;

  --md-sys-color-primary: #743342;
  --md-sys-color-on-primary: #ffffff;

  --md-sys-color-primary-container: #f5f5f5;
  --md-sys-color-on-primary-container: #000000;

  --md-sys-color-secondary: #f4f4f5;
  --md-sys-color-on-secondary: #b3b3b7;

  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #09090b;

  --md-sys-color-tertiary-container: #bbebeb;
  --md-sys-color-on-tertiary-container: #002021;
  --md-sys-color-utility-error: #ba1b1b;
  --md-sys-color-utility-on-error: #fff;
  --md-sys-color-utility-outline: #74796e;

  --md-sys-color-surface-1: #f0f3e8;
  --md-sys-color-surface-2: #ebefe2;
  --md-sys-color-surface-3: #e5eadc;
  --md-sys-color-surface-4: #e3e9da;
  --md-sys-color-surface-5: #dfe6d5;

  --md-sys-color-ref-secondary-200: #bdcbb0;
  --md-sys-color-ref-secondary-300: #a1b095;
  --md-sys-color-neutral-10: #1f1f1f;
  --md-sys-color-neutral-90: #e3e3e3;
  --md-sys-color-ref-neutral-100: #e3e3e3;
  --md-sys-color-ref-neutral-200: #c7c7c7;
  --md-sys-color-pre-primary: #f3f6ea;

  --md-filled-button-label-text-type: 500 0.875rem/1.25rem system-ui;
  --md-outlined-field-label-text-type: 500 0.875rem/1.25rem system-ui;

  --md-circular-progress-size: 32px;
  --md-circular-progress-active-indicator-width: 20;
  /**
  --md-navigation-bar-container-color: var(--md-sys-color-surface-2);
  **/
  --md-navigation-bar-container-color: var(--md-sys-color-surface-1);
  --md-navigation-bar-container-elevation: 0;
  --md-navigation-bar-container-shape: 9999px;
  --md-navigation-bar-active-indicator-shape: var(--md-navigation-bar-active-indicator-shape);

  --md-navigation-drawer-container-color: var(--md-sys-color-secondary);

  --md-navigation-drawer-modal-modal-container-elevation: 5;
  --md-navigation-drawer-modal-container-color: var(--md-sys-color-secondary);
  --md-navigation-drawer-modal-container-width: 320px;
  --md-navigation-drawer-modal-container-height: 100vh;

  --md-list-container-color: var(--md-sys-color-secondary);

  --md-list-item-label-text-color: var(--md-sys-color-on-surface-variant);
  --md-list-item-container-color: var(--md-sys-color-surface-2);
  --md-list-item-container-shape: 999px;
  --md-list-item-leading-icon-size: 24px;
  --md-list-item-focus-label-text-color: var(--md-sys-color-on-surface);
  --md-list-item-focus-leading-icon-icon-color: var(--md-sys-color-on-surface);
  --md-list-item-focus-trailing-icon-icon-color: var(--md-sys-color-on-surface);
  --md-list-item-leading-icon-color: var(--md-sys-color-on-surface-2);
  --md-list-item-trailing-icon-color: var(--md-sys-color-on-surface-2);

  --md-list-item-container-shape: var(--md-list-item-list-item-container-shape);
  --md-navigation-drawer-modal-scrim-color: black;
  --md-navigation-drawer-modal-scrim-opacity: 0.32;

  --md-primary-tab-container-color: var(--md-sys-color-surface-0);

  --md-divider-thickness: 0px;
  --md-primary-tab-active-indicator-shape: 0px 0px 0px 0px;
  --md-primary-tab-active-indicator-height: 1px;

  /** Custom Components **/

  /** T List Item **/
  --t-list-item-border-radius: 0px;
  --t-navigation-rail-list-item-border-radius: 0px;
  --t-navigation-rail-list-item-container-color: #ffffff;
  --t-list-item-container-color: #ffffff;

  /** Navigation Rail List**/
  --t-navigation-rail-list-container-color: #ffffff;

  /** Navigation Rail Item **/
  --t-navigation-rail-list-item-container-color: #f5f5f5;
  --t-navigation-rail-list-item-color: #000000;
  --t-navigation-rail-list-item-text-size: 0.95rem;

  --t-navigation-rail-list-item-hover-state-layer-color: #000000;
  --t-navigation-rail-list-item-hover-state-layer-opacity: 0.06;

  --t-navigation-rail-list-item-pressed-state-layer-color: #000000;
  --t-navigation-rail-list-item-pressed-state-layer-opacity: 0.08;

  --t-navigation-rail-list-item-active-color: #743342;

  /** Navigation Drawer **/
  --t-navigation-drawer-container-color: #ffffff;

  /** Navigation Drawer List Item **/
  --t-navigation-drawer-list-item-text-size: 0.9rem;

  --md-list-item-top-space: 8px;
  --md-list-item-bottom-space: 8px;
  --md-list-item-one-line-container-height: 42px;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

/**
  * --- GLOBAL MEDIA QUERIES --- change to local
**/

@media screen and (min-width: 1024px) {
  :root {
    --md-navigation-drawer-modal-container-width: 220px;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 142px;
  }

  header {
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
  }

  #markdown picture img,
  #markdown p>img {
    max-height: 384px;
  }

  t-mobile-top-app-bar {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  main {
    padding-left: 16px;
    padding-right: 16px;
  }

  #markdown picture img,
  #markdown img,
  #markdown p>img {
    max-height: auto;
    object-fit: cover;
    width: 100%;
  }

  #markdown code {
    font-size: 0.8rem;
  }

  body {
    flex-direction: column;
  }

  t-navigation {
    display: none !important;
  }
}

/**
  * --- HOME CLASSES ---
**/

.home_container {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 120px;
}

.home_flexbox {
  display: flex;
  align-items: center;
}

.home_left {
  margin-bottom: 40px;
  padding-right: 40px;
  flex-basis: 50%;
}

.home_right {
  flex-basis: 50%;
}

.home_heading {
  margin-bottom: 32px;
  font-variation-settings: 'wght' 100, 'wdth' 100, 'opsz' 8;
  font-size: 5.25rem;
  line-height: 5.75rem;
  font-family: Roboto Mono, monospace;
  text-align: start;
  font-weight: 500;
}

.home_ipa {
  font-family: Google;
  color: #616161;
  font-size: 1rem;
}

.home_image {
  width: 100%;
  transition: border-radius 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 16px;
}

.home_bio {
  font-size: 1.2rem;
  color: #424242;
  margin-top: 50px;
}

.home_disclaimer {
  font-family: Google;
  color: #616161;
  font-size: 0.8rem;
  margin-top: 24px;
}

/**
  * --- EXPERIENCE ---
**/

.experience_container {
  border: solid;
  border-width: 2px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
}

/**
  * --- GLOBAL SERVER COMPONENTS ---
**/

h1 {
  font-variation-settings: "wght" 100, "wdth" 100, "opsz" 8;
  font-size: 5.25rem;
  line-height: 5.75rem;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}


.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid {
  display: grid;
}

@media screen and (max-width: 768px) {

  .home_bio {
    font-size: 0.9rem !important;
    text-align: center;
  }

}

@media screen and (max-width: 1024px) {

  .home_container {
    align-items: center;
    height: auto;
    padding-top: 0px;
  }

  .home_flexbox {
    flex-direction: column;
  }

  .home_image {
    width: 100%;
  }
}

/**
  * --- MARKDOWN ---
**/

#markdown h1 {
  margin-bottom: 32px;
  font-variation-settings: 'wght' 100, 'wdth' 100, 'opsz' 8;
  font-size: 5.25rem;
  line-height: 5.75rem;
  font-weight: 500;
}

#markdown h2 {
  margin-bottom: 32px;
  font-variation-settings: "wght" 100, "wdth" 100, "opsz" 8;
  font-size: 2.5rem;
  font-weight: normal;
}

#markdown h3 {
  margin-bottom: 16px;
  font-variation-settings: "wght" 100, "wdth" 100, "opsz" 8;
  font-size: 1.5rem;
  font-weight: normal;
}

#markdown h4 {
  font-weight: normal;
}


#markdown p {
  font-size: 0.95rem;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 0px;
}

#markdown li a {
  color: var(--md-sys-color-primary);
  text-decoration-line: underline;
}

#markdown a {
  text-decoration-line: none;
}

#markdown a:hover {
  color: var(--md-sys-on-color-primary-container);
}


#markdown code {
  text-shadow: none !important;
  text-wrap: balance;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

#markdown pre {
  border: var(--md-sys-color-primary);
  border-style: solid;
  border-width: 1px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  padding: 16px;
}

#markdown ol {
  margin-top: 1rem;
  padding: 0px;
}

#markdown ol li {
  position: relative;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 36px;
  counter-increment: item;
  counter-increment: item;
}

#markdown ol li:before {
  content: counter(item);
  position: absolute;
  left: -2rem;
  margin-top: -4px;
  display: flex;
  height: 2rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: var(--md-sys-color-primary);
  font-size: 14px;
  --tw-text-opacity: 1;
  color: var(--md-sys-color-on-primary);
}

#markdown ul {
  margin-left: 22px;
  margin-top: 1rem;
}

#markdown ul li {
  position: relative;
  margin-bottom: 16px;
}

/**
  * --- KEYFRAMES & TRANSITIONS---
**/

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(15px);
  }
}

.slide-up {
  view-transition-name: slide-up;
}

::view-transition-old(slide-up) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
}

::view-transition-new(slide-up) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 45ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}

.slide-in {
  view-transition-name: slide-in;
}

::view-transition-old(slide-in) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.fade-in {
  view-transition-name: fade-in;
}

::view-transition-old(fade-in) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
}

::view-transition-new(fade-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
}