package components

templ LoadingSpinner() {
	<md-circular-progress
 		slot="trailing-icon"
 		indeterminate
 		class="htmx-indicator m-auto"
 		id="spinner"
 		role="status"
 		aria-hidden="true"
	></md-circular-progress>
}
