package test


import (
	gox_structs "github.com/caleb-sideras/gox2/src/types"
)

templ Hello2(name string) {
  <div>Hello, { name }</div>
}

templ Greeting2(person gox_structs.Person) {
  <div class="greeting">
    @Hello2(person.Name)
  </div>
}
