package server

import (
	"github.com/caleb-sideras/gox2/src/utils"
)

templ Grid(videos []utils.TLinkContent) {
	<div class="grid-cols-2 grid">
		for _, item :=range videos {
			<t-link
 				hx-get={ item.Href }
 				hx-target="main"
 				hx-push-url="true"
 				title={ item.Title }
 				description={ item.Description }
 				src={ item.Src }
 				alt={ item.Alt }
 				hx-boost={ item.Boost }
 				if item.Disabled {
					disabled
				}
			></t-link>
		}
	</div>
}
