package server

type ProjectType struct {
	Title      string
	ProjectURL string
	Body       templ.Component
}

templ Project(project ProjectType) {
	<div>
		<t-header href={ project.ProjectURL } heading={ project.Title }></t-header>
		<div id="example-body">
			@project.Body
		</div>
	</div>
}
