package server

import (
	"calebsideras.com/temporary/src/utils"
)

templ GridTitles(title []string, videoList [][]utils.TLinkContent) {
	<div>
		for i := range title {
			@GridTitle(title[i], videoList[i])
		}
	</div>
}
