package components

type HomeCard struct {
	Title       string
	Description string
	Link        string
}

templ Card(card HomeCard) {
	<script type="module" src="/static/js/temp.js"></script>
	<simple-card url={ card.Link } title={ card.Title } description={ card.Description }  />
}
