package components

templ Test() {
	<div class="flex flex-row">
		<div class="hidden lg:flex w-24 h-screen">
			<t-navigation active-index="0" class="flex flex-col items-start lg:flex-row">
				<t-navigation-rail slot="rail">
					<t-navigation-tab label="Home">
						<md-icon slot="active-icon" class="material-symbols-filled">home</md-icon>
						<md-icon slot="inactive-icon" class="material-symbols-outlined">home</md-icon>
					</t-navigation-tab>
					<t-navigation-tab label="Examples">
						<md-icon slot="active-icon" class="material-symbols-filled">code</md-icon>
						<md-icon slot="inactive-icon" class="material-symbols-outlined">code</md-icon>
					</t-navigation-tab>
					<t-navigation-tab label="Docs">
						<md-icon slot="active-icon" class="material-symbols-filled">book</md-icon>
						<md-icon slot="inactive-icon" class="material-symbols-outlined">book</md-icon>
					</t-navigation-tab>
				</t-navigation-rail>
				<t-navigation-drawer slot="drawer">
					<t-navigation-list active-index="0" hx-boost="true"></t-navigation-list>
					<t-navigation-list active-index="0" hx-boost="true">
						<t-list-item id="b" interactive type="link">
							Routing
						</t-list-item>
						<t-dropdown>
							<t-dropdown-title slot="title" type="button" interactive>
								<div slot="headline">Introduction</div>
								<md-icon slot="active">arrow_drop_up</md-icon>
								<md-icon slot="inactive">arrow_drop_down</md-icon>
							</t-dropdown-title>
							<t-dropdown-list slot="content">
								<t-dropdown-item interactive type="link">
									hello
								</t-dropdown-item>
								<t-dropdown-item interactive type="link">
									Son
								</t-dropdown-item>
							</t-dropdown-list>
						</t-dropdown>
					</t-navigation-list>
					<t-navigation-list active-index="0" hx-boost="true">
						<t-list-item id="c" interactive type="link">
							hello
						</t-list-item>
						<t-list-item id="d" interactive type="link">
							Son
						</t-list-item>
					</t-navigation-list>
				</t-navigation-drawer>
			</t-navigation>
		</div>

		<t-dropdown-item interactive type="link">
			hello
		</t-dropdown-item>

		<t-dropdown>
			<t-dropdown-title slot="title" type="button" interactive>
				<div slot="headline">Introduction</div>
				<md-icon slot="active">arrow_drop_up</md-icon>
				<md-icon slot="inactive">arrow_drop_down</md-icon>
			</t-dropdown-title>
			<t-dropdown-list slot="content">
				<t-dropdown-item interactive type="link">
					hello
				</t-dropdown-item>
				<t-dropdown-item interactive type="link">
					Son
				</t-dropdown-item>
			</t-dropdown-list>
		</t-dropdown>
	</div>
}
