package components

templ Test2() {
	<div class="flex flex-row">
		<div class="hidden lg:flex w-24 h-screen">
			<t-navigation>

				<t-navigation-rail active>

					<t-navigation-rail-item interactive type="link" id="home">
						Home
						<md-icon slot="start" class="material-symbols-filled">crop_square</md-icon>
					</t-navigation-rail-item>

					<t-navigation-rail-item interactive type="link" id="code">
						Code
						<md-icon slot="start" class="material-symbols-filled">code_blocks</md-icon>
					</t-navigation-rail-item>

					<t-navigation-rail-item interactive type="link" id="docs">
						Docs
						<md-icon slot="start" class="material-symbols-filled">developer_guide</md-icon>
					</t-navigation-rail-item>

				</t-navigation-rail>

				<t-navigation-drawer>

					<t-navigation-drawer-list id="code">

						<t-navigation-drawer-item interactive type="link">
							Code Overview

						</t-navigation-drawer-item>

						<t-dropdown>
							<t-dropdown-title slot="title" type="button" interactive>
								<div slot="headline">Introduction</div>
								<md-icon slot="active">arrow_drop_up</md-icon>
								<md-icon slot="inactive">arrow_drop_down</md-icon>
							</t-dropdown-title>
							<t-dropdown-list slot="content">
								<t-dropdown-list-item interactive type="link">
									hello
								</t-dropdown-list-item>
								<t-dropdown-list-item interactive type="link">
									Son
								</t-dropdown-list-item>
							</t-dropdown-list>
						</t-dropdown>

						<t-navigation-drawer-item interactive type="link" id="navigation">
							Navigation

							<md-icon slot="end" class="material-symbols-outlined">
								chevron_right
							</md-icon>
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link" id="lists">
							Lists
							<md-icon slot="end" class="material-symbols-outlined">
								chevron_right
							</md-icon>
						</t-navigation-drawer-item>

					</t-navigation-drawer-list>

					<t-navigation-drawer-list id="docs">

						<t-navigation-drawer-item interactive type="link">
							Docs Overview
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link">
							Sample
						</t-navigation-drawer-item>

					</t-navigation-drawer-list>

				</t-navigation-drawer>

				<t-navigation-drawer>

					<t-navigation-drawer-list id="navigation">

						<t-navigation-drawer-item interactive type="link">
							Overview
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link">
							Rail
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link">
							Drawer
						</t-navigation-drawer-item>

					</t-navigation-drawer-list>

					<t-navigation-drawer-list id="lists">

						<t-navigation-drawer-item interactive type="link">
							Nav Overview
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link">
							List
						</t-navigation-drawer-item>

						<t-navigation-drawer-item interactive type="link">
							List-Item
						</t-navigation-drawer-item>

					</t-navigation-drawer-list>

				</t-navigation-drawer>

			</t-navigation>
		</div>
	</div>
}
