<div style="flex-direction: column; display: flex;"><t-header href="/docs/routing/static-pages-and-routes" heading="Static Render"></t-header> <temporary-list><temporary-list-item interactive type="button" hx-get="/examples/static-render/example" hx-target="#example-body" active>Example <md-icon slot="start" class="material-symbols-filled">info</md-icon></temporary-list-item> <temporary-list-item interactive type="button" hx-get="/examples/static-render/code" hx-target="#example-body">Code <md-icon slot="start" class="material-symbols-filled">code</md-icon></temporary-list-item></temporary-list><div id="example-body" style="display:flex; justify-content: center;"><div id='markdown'><h2 id="this-is-markdown">This is Markdown!</h2>
<p>Why this is <strong>cool</strong></p>
<ol>
<li>
<p>Rendered at build</p>
</li>
<li>
<p>Serving static</p>
</li>
<li>
<p>Really easy primitive</p>
</li>
</ol>
</div></div></div>